flask
gunicorn

# Mistral AI client
mistralai
langchain_mistralai

# RAG Frameworks
langchain
langchain-community
langchain-text-splitters

# Vector Databases
langchain-chroma
chromadb
faiss-cpu>=1.7.4

# Document Loaders
pypdf

# API / Backend
fastapi>=0.110.0
uvicorn>=0.29.0
pydantic>=2.6.0

# Utilities
python-dotenv
